$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);
$circle-size: 15px;

.themepicker {
    position: relative;
    width: 150px;
    z-index: 50;
}

.option {
    position: relative;
    z-index: 40;
    margin-left: auto;
    width: max-content;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 0.5em;
    cursor: pointer;

    p {
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 14px;
    }

    &:hover > .backdrop {
        opacity: 0.2;
    }
    &:active > .backdrop {
        opacity: 0.4;
    }
}

.primary {
    z-index: 20;
    width: $circle-size;
    height: $circle-size;
    border-radius: 100%;
    background: $primary-color;
}
.secondary {
    z-index: 20;
    width: $circle-size;
    height: $circle-size;
    border-radius: 100%;
    background: $secondary-color;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-color;
    opacity: 0.2;
    border-radius: 25px;
    transition: 0.5s;
}


.options {
    position: absolute;
    top: 2em;
    left: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    overflow: hidden; 
    transition: 0.5s;

    &::after {
        transition: 0.5s;
    }
}

.open {
    height: 50vh;
    overflow: auto;

    &::after {
        z-index: 30;
        position: fixed;
        left: 0;
        top: 0;
        content: "";
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px);
    }
}